{{#extends "base"}}
  {{#block "content"}}
    <h2>Edit {{movieRecord.name}}</h2>
    <form method="POST">
      <label class="form-label">Name: </label>
      <input class="form-control mb-3" type="text" name="name" value="{{movieRecord.name}}"/>
      <label class="form-label">Genre: </label>
      <input class="form-control mb-3" type="text" name="genre" value="{{movieRecord.genre}}"/>
      <label class="form-label">Year: </label>
      <input class="form-control mb-3" type="number" name="year" value="{{movieRecord.year}}"/>
      <label class="form-label">Duration: </label>
      <input class="form-control mb-3" type="number" name="duration" value="{{movieRecord.duration}}"/>
      <label class="form-label">Score: </label>
      <input class="form-control mb-3" type="number" name="score" value="{{movieRecord.score}}"/>
      <input type="submit" class="btn btn-primary" value="Edit" />
      <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
  {{/block}}
{{/extends}}