{{#extends "base"}}
  {{#block "content"}}
    <div class="container">
      <h2>All Movies</h2>
      <a href="/add" class="btn btn-primary mb-2">Add</a>
      {{#each allMovies}}
        <div class="card mb-2" style="width: 18 rem;">
          <div class="card-body">
            <h5 class="card-title">{{this.movieTitle}}</h5>
            <p class="card-text">Genre: {{this.genre}}</p>
            <p class="card-text">Duration: {{this.duration}}</p>
            <p class="card-text">Rating: {{this.rating}}</p>
            <a href="/edit/{{this.id}}" class="btn btn-secondary">Edit</a>
            <a href="/delete/{{this.id}}" class="btn btn-danger">Delete </a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/block}}
{{/extends}}