{{#extends "base"}}
  {{#block "content"}}
  <h1>{{pokemonRecord.name}}</h1>
  <ul>
    <li>{{pokemonRecord.type}}</li>
  </ul>
  <a href="/pokemon/{{pokemon._id}}/add-note" class="btn btn-primary"></a>

  <h2>Notes</h2>
  <ul class="list-group">
    {{#each pokemonRecord.notes}}
    <li class="list-group-itme">
      <div>{{this.content}}</div>
    </li>
    <a href="/pokemon/{{../pokemonRecord._id}}/update-note/{{this._id}}" class="btn btn-primary"></a>
    <a href="/pokemon/{{../pokemonRecord._id}}/delete-note/{{this._id}}" class="btn btn-danger"></a>
  </ul>

  {{/block}}
{{/extends}}